@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {

  html {
    font-size: 110%;
  }
}

@media only screen and (min-width: 90em) {

  html {
    font-size: 120%;
  }
}

@media only screen and (min-width: 120em) {

  html {
    font-size: 130%;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

a:link,
a:active {
  /*
  It is okay to get rid of the focus rectangle for mouse users
  BUT NEVER FOR KEYBOARD USERS!!!!
  */
  outline: none;
}

a:focus {
  outline: 3px solid #000;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -3em;
  padding: 0.5em 0.75em;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: 1.25em;
  text-decoration: none;
}

.skip-links a:focus {
  top: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.masthead {
  overflow: hidden;
}

.title {
  text-align: center;
}

.nav-header {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ccc;
}

.mars-title {
    margin: 0;
    padding: 0;
    text-align: center;
}

.mars-tagline {
  background-color: #e2e2e2;
  text-align: center;
}

.nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #ccc;
    text-align: center;
}

.nav li {
  display: inline-block;
}

.nav a,
.nav a:link,
.nav a:visited {
  display: block;
  color: #0074D9;
  text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {
  background-color: #0074D9;
  color: #fff;
}

.section-dark {
  background-color: #ccc;
}

.section-mid {
  background-color: #e2e2e2;
}

.section {
  background-color: #efefef;
}

.intro {
  text-align: center;
}

.discovery-title-extra {
  display: none;
}

.table-outer {
  overflow-x: auto;
}

.table-inner {
  margin: 0 auto;
  max-width: 60em;
  min-width: 45em;
}

table {
  width: 100%;

  border-collapse: collapse;
}

th,
td {
  padding: 0.2rem;

  text-align: left;
}

thead th {
  background-color: #e2e2e2;
  border-bottom: 1px solid #ccc;
}

tbody th,
tbody td {
  border-bottom: 1px solid #e2e2e2;
}

form {
  margin: 0 auto;
  max-width: 35em;
}

label {
  display: block;
  margin-bottom: 0.03em;
  vertical-align: middle;
}

input,
textarea {
  margin: 0;
  padding: 0.4em;
  vertical-align: middle;
  width: 100%;

  border: 1px solid #ccc;

  font-size: 1rem;
}

fieldset {
  padding: 0;

  border: 0;
}

legend {
  font-style: italic;
}

textarea {
  height: 12em;
}

.radio {
  white-space: nowrap;
}

.radio input {
  width: auto;
}

.radio label {
  display: inline-block;
  margin-right: 0.75rem;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.copyright {
  text-align: center;
}

@media only screen and (min-width: 20em) {

    .nav a {
        text-align: center;
        display: inline-block;
    }

    .nav li {
      display: inline-block;
    }

    .copyright {
      text-align: center;
    }

    .nav-footer {
      text-align: center;
      padding: none;
    }
}

@media only screen and (min-width: 45em) {

    .mars-title {
        float: left;
    }

    .nav {
        display: inline;
        width: auto;
    }

    .copyright {
      float: left;
    }

    .nav-footer {
      float: right;
      text-align: center;
      display: inline-block;
    }

    .nav a {
        text-align: center;
        display: inline-block;
    }
}

@media only screen and (min-width: 60em) {

  .data {
  overflow: hidden;
  }

  .data dt {
  clear: left;
  float: left;
  width: 12em;
  }

  .data dd {
  float: left;
}
