@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {

  html {
    font-size: 110%;
  }
}

@media only screen and (min-width: 90em) {

  html {
    font-size: 120%;
  }
}

@media only screen and (min-width: 120em) {

  html {
    font-size: 130%;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

.nav-header {
    margin: 0;
    padding: 0;
    background-color: #ccc;
    overflow: hidden;
}

.mars-title {
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav {
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    background-color: #ccc;
}

.mars-tagline {
  background-color: #e2e2e2;
  text-align: center;
}

@media only screen and (min-width: 20em) {
    
    .nav a {
        margin: 0;
        padding: 1rem 0;
        text-align: center;
        float: left;
        width: 33%;
    }
}

@media only screen and (min-width: 45em) {
    
    .mars-title {
        float: left;
    }
    
    .nav {
        display: inline;
        width: auto;
    }
    
    .nav a {
        padding: 1rem 0.5rem;
        width: auto;
    }
}