@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {

  html {
    font-size: 110%;
  }
}

@media only screen and (min-width: 90em) {

  html {
    font-size: 120%;
  }
}

@media only screen and (min-width: 120em) {

  html {
    font-size: 130%;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.masthead {
  overflow: hidden;
}

.title {
  text-align: center;
}

.nav-header {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ccc;
}

.mars-title {
    margin: 0;
    padding: 0;
    text-align: center;
}

.mars-tagline {
  background-color: #e2e2e2;
  text-align: center;
}

.nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #ccc;
    text-align: center;
}

.nav li {
  display: inline-block;
}

.nav a,
.nav a:link,
.nav a:visited {
  display: block;
  color: #0074D9;
  text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
  background-color: #0074D9;
  color: #fff;
}

.section-dark {
  background-color: #ccc;
}

.section-mid {
  background-color: #e2e2e2;
}

.section {
  background-color: #efefef;
}

.intro {
  text-align: center;
}

@media only screen and (min-width: 20em) {
    
    .nav a {
        text-align: center;
        display: inline-block;
    }

    .nav li {
      display: inline-block;
    }

    .copyright {
      text-align: center;
    }

    .nav-footer {
      text-align: center;
      padding: none;
    }
}

@media only screen and (min-width: 45em) {
    
    .mars-title {
        float: left;
    }
    
    .nav {
        display: inline;
        width: auto;
    }

    .copyright {
      float: left;
    }

    .nav-footer {
      float: right;
      text-align: center;
      display: inline-block;
    }
    
    .nav a {
        text-align: center;
        display: inline-block;
    }
}

@media only screen and (min-width: 60em) {

  .data {
  overflow: hidden;
  }

  .data dt {
  clear: left;
  float: left;
  width: 12em;
  }

  .data dd {
  float: left;
}